* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkslategray;
}

header {
    margin: -10px;
}

header div h1, header div h4, header div p {
    margin: 0 0 0 50px;
    font-size: 1em;
}

img {
    max-width: 40%;
    height: auto;
    border-radius: 50% 0% 50% 50%;
    border: 5px solid red;
    margin: 5px;
}

h1, h4, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header div p {
    color: rgb(209, 209, 209);
}

#name {
    color: white;
    font-size: 2.5em;
}

#role {
    color: yellow;
    font-style: italic;
}

#contact-details ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    color: white;
    background: black;
    margin: 10px -10px -10px -10px;
    font-family: verdana, arial, helvetica;
    font-size: 0.8em;
}

.fas, .fa-solid, #contact-details ul li {
    margin: 3px;
}

#main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headings {
    color: red;
}



@media (min-width: 368px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header div {
        align-items: flex-start;
        justify-content: flex-end;
    }

    img {
        max-width: 15%;
        height: auto;
    }
}