* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

#my-name {
    display: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "comic sans ms", tahoma, arial, helvetica;
    font-size: 3em;
    color: green;
}

button {
    background-color: greenyellow;
    color: black;
    border: 0px;
    border-radius: 5px 5px;
    cursor: pointer;
}